aiogram==3.13.1  # Фиксируем версию
pydantic==2.8.0
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9  # Более стабильная версия
aiohttp==3.9.0  # Явно указываем версию из вашего списка
asyncpg==0.29.0  # Добавляем явную версию
telethon==1.34.1  # Стабильная версия
